streamlit

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai

faiss-cpu
sentence-transformers
chromadb

pypdf
python-dotenv
requests
beautifulsoup4

google-generativeai